HELP.md
.gradle
/build/
/leaderboardServer/.gradle
/leaderboardServer/build/
/gameInputServer/.gradle
/gameInputServer/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.lock
*.lock
leaderboardServer/.gradle/8.3/fileHashes/fileHashes.bin
leaderboardServer/.gradle/8.3/executionHistory/executionHistory.bin
leaderboardServer/.gradle/buildOutputCleanup/buildOutputCleanup.lock
leaderboardServer/.gradle/8.3/fileHashes/resourceHashesCache.bin
leaderboardServer/.gradle/buildOutputCleanup/outputFiles.bin
