$primary: #5989b1;
$primary-hover: #77b4e7;
$white: #ffffff;
$black: #292929;
$indigo: #303044;
$indigo-dark: #232334;
$indigo-ultradark: #1c1c2a;
$indigo-black: #14141d;

$breakpoint-desktop: 1200px;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
$barlow: "Barlow", sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: $barlow;
}

html,
body {
  background: rgb(56,56,56);
  background: linear-gradient(307deg, rgba(56,56,56,1) 0%, rgba(36,72,110,1) 100%);
  transition: ease all 500ms;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#app {
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
  text-align: center;
}

li {
  list-style: none;
}

// Firefox
::placeholder {
  font-size: 1rem;
  font-weight: 900;
  color: $white;
  opacity: 1;
}

// Edge 12 -18
::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 900;
  color: $white;;
}
