@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Open+Sans&family=Play&display=swap');
}

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    --primary: #3663a9;
    --primary-hover: #427bce;
    --secondary: #4c625c;
    --background: #252525;
    --light: #0D4971;
    --dark: #062235;
    --white: #ececec;
    --gray: #b6b6b6;
    --black: black;
}

*{
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body{
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 37%2c 37%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1091' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1091' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1090'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1087'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1085'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1086'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1088'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1089'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1091'%3e%3cuse xlink:href='%23SvgjsPath1085' x='30' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='30' y='90' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='30' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='30' y='210' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='30' y='270' stroke='rgba(124%2c 139%2c 142%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='30' y='330' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='30' y='390' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='30' y='450' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='30' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='30' y='570' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='90' y='30' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='90' y='90' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='90' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='90' y='210' stroke='rgba(54%2c 99%2c 169%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='90' y='270' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='90' y='330' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='90' y='390' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='90' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='90' y='510' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='90' y='570' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='150' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='150' y='90' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='150' y='150' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='150' y='210' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='150' y='270' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='150' y='330' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='150' y='390' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='150' y='450' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='150' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='150' y='570' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='210' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='90' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='150' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='210' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='270' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='330' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='210' y='390' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='510' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='210' y='570' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='270' y='30' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='270' y='90' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='270' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='270' y='210' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='270' y='270' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='270' y='330' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='270' y='390' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='270' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='270' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='270' y='570' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='330' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='330' y='90' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='330' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='330' y='210' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='330' y='270' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='330' stroke='rgba(124%2c 139%2c 142%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='330' y='390' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='330' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='330' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='330' y='570' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='390' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='390' y='90' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='390' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='390' y='210' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='390' y='270' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='390' y='330' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='390' y='390' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='390' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='390' y='510' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='390' y='570' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='450' y='30' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='450' y='90' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='450' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='450' y='210' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='450' y='270' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='450' y='330' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='450' y='390' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='450' y='450' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='450' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='450' y='570' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='510' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='510' y='90' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='510' y='150' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='510' y='210' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='510' y='270' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='510' y='330' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='510' y='390' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='510' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='510' y='510' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='510' y='570' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='570' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='570' y='90' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='570' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='570' y='210' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='570' y='270' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='570' y='330' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='570' y='390' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1086' x='570' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='570' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='570' y='570' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='630' y='30' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='630' y='90' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='630' y='150' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='630' y='210' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='630' y='270' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1087' x='630' y='330' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='630' y='390' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='630' y='450' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='630' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='630' y='570' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='690' y='30' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='690' y='90' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='690' y='150' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='690' y='210' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='690' y='270' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='690' y='330' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='690' y='390' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='690' y='450' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='690' y='510' stroke='rgba(54%2c 99%2c 169%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1085' x='690' y='570' stroke='rgba(124%2c 139%2c 142%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

a, button {
    text-decoration: none;
}

#index-buttons{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
}

#index-buttons button{
    padding: 10px 60px 10px 60px;
    width: 400px;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    background-color: var(--primary);
    color: var(--white);
}

#index-buttons button:hover{
    background-color: var(--primary-hover);
    color: white;
    cursor: pointer;
    scale: 1.05;
}

.back-button{
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}

.back-button:hover{
    background-color: var(--primary-hover);
    scale: 1.05;
}

 #leaderboard-container{
     max-width: 1000px;
     position: relative;
     display: flex;
     flex-direction: column;
     border: red 5px var(--dark);
     border-radius: 25px;
     height: 50vh;
     width: 95%;
     margin: 2rem auto;
     overflow: auto;
     text-align: -webkit-center;
 }

 ::-webkit-scrollbar{
     width: 15px;
 }
::-webkit-scrollbar-thumb{
      background: linear-gradient(transparent,white);
      border-radius: 6px;
  }
::-webkit-scrollbar-thumb:hover{
    background: var(--primary);
}

.button-group{
    position: absolute;
    top: 30%;
    display: table
}

#center{
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#frm {
    width: 6rem;
}

#frm2{
    width: 16rem;
}

#frm3{
    width: 7rem;
}

#btn-switch-wrapper{
    display: inline-flex;
}

#btn-switch-form{
    margin-left: 1rem;
}

#btn-switch{
    position: relative;
    height: 2.3rem;
    width: 2.3rem;
    margin: 0 auto;
    background-color: white;
    display: inline-block;
    padding: 2px;
    border: none;
    border-radius: 3px;
}

.rotate180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

input{
    font-size: 1.2rem;
    height: 1.2rem;
    width: 100%;
    border-radius: 0.2rem;
    border: none;
    outline: none ! important;
    padding: 9px 4px 9px 40px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

form {
    margin: 0 auto;
    color: var(--gray);
    display: flex;
    padding: 2px;
    border: 2px solid var(--primary);
    border-radius: 5px;
}

form:hover{
    border: 2px solid var(--primary-hover);
}

header{
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    height: 8rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
}

table{
    position: relative;
    border-collapse: collapse;
    width: 100%;
    display: table;
}

th {
    height: 3.5rem;
    background: var(--light);
    position: sticky;
    top: 0;
    padding: 0.5rem;
    box-shadow: 0 4px 4px -2px black;
}

td, th {
    color: var(--white);
    text-align: center;
    padding: 0.45rem;
}

tr:nth-child(even) {
    background: var(--dark);
}

tr:nth-child(odd){
    background: var(--light)
}
